<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ReactJS SSR</title>
        <script src="jquery-3.2.0.min.js"></script>
    </head>
    <body>
        <h1>KhoaPham Training</h1>
        <div id="root"></div>
        <script src="bundle.js"></script>
    </body>
</html>